.App {
  display: flex;
  background-color: black;
  font-family: 'Kumbh Sans';
}

.Button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Kumbh Sans';
  cursor: pointer;
  user-select: none;
  transition: .2s;
}

.Button svg {
  font-size: 18px;
}

.Button.alt {
  min-width: 36px;
  justify-content: center;
  color: var(--text-color);
  border-radius: 25px;
}

.Button.alt:hover {
  background-color: hsl(0, 0%, 14%);
  color: var(--accent-color);
}

.Button:not(.alt) {
  background-color: var(--accent-color);
  color: var(--dark-text-color);
}

.Button.alt:active,
.Button:active {
  transform: scale(0.9);
}

.Dashboard {
  width: 100%;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Avatar {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
