* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --bg-color: hsl(0, 0%, 11%);
  --accent-color: hsl(160, 50%, 65%);
  --text-color: hsl(0, 0%, 65%);
  --dark-text-color: hsl(0, 0%, 18%);
}
