.Sidebar {
  height: 100vh;
  min-width: clamp(245px, 20vw, 290px);
  padding: 40px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: var(--bg-color);
  overflow-y: auto;
  transition: transform .3s, opacity .3s;
}

.Sidebar menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Sidebar .NavButton:hover {
  transform: translateX(5px);
}

.Sidebar .NavButton:active {
  transform: translateX(5px) scale(0.9);
}

.Sidebar .NavButton.selected {
  transform: translateX(10px);
}

.GithubButton {
  width: fit-content;
  padding: 12px 18px;
  text-decoration: none;
}

@media (max-width: 910px) {
  .Sidebar {
    position: fixed;
    z-index: 1;
    transform: translateX(-100%);
    opacity: 0;
  }

  .Sidebar.entering,
  .Sidebar.entered {
    transform: translateX(0);
    opacity: 1;
  }
}
