.Sidebar {
  height: 100vh;
  min-width: clamp(245px, 20vw, 290px);
  padding: 40px 20px 25px;
  background-color: var(--bg-color);
  overflow: auto;
}

.Sidebar menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.NavButton {
  width: fit-content;
  padding-block: 12px;
  padding-inline: 18px 22px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-color);
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: .2s;
}

.NavButton:hover {
  background-color: hsl(0, 0%, 18%);
  color: white;
  transform: translateX(5px);
}

.NavButton:active {
  transform: translateX(5px) scale(0.9);
}

.NavButton.selected {
  background-color: var(--accent-color);
  color: hsl(0, 0%, 15%);
  transform: translateX(10px);
}
